@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    --spacing: 0.25rem;

    --font-display: "Roboto", "sans-serif";

    --color-font-black: oklch(0.17 0 0);
    --color-font-white: oklch(0.93 0 0);
    --color-font-grey: oklch(0.49 0 0);

    --color-bg-white:oklch(0.99 0 0);
    --color-bg-black:oklch(0.14 0 0);
    --color-bg-deep-black:oklch(0 0 0);
}

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    height: 100dvh;
    font-size: 1rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1{
    font-size: calc(var(--spacing)*16);
    margin-bottom: calc(var(--spacing)*4);
}

h2{
    margin-bottom: calc(var(--spacing)*4);
}

h3{
    font-size: calc(var(--spacing)*6);
    font-weight: 400;
}



.bg-white{
    background-color: var(--color-bg-white);
}

.bg-black{
    background-color: var(--color-bg-black);
}


.semibold{
    font-weight: 600;
}

.nowrap{
    white-space: nowrap;
}

.grey{
    color: var(--color-font-grey);
}

.font-white{
    color: var(--color-font-white);
}

.font-black{
    color: var(--color-font-black);
}

.theme-dark{
    background-color: var(--color-bg-black);
    color: var(--color-font-white);
}

.theme-dark .links-container{
    color: var(--color-font-white);
}

.theme-dark .link-home{
    color: var(--color-font-white);
}

.theme-dark svg{
    fill: var(--color-font-white);
}

.theme-dark .scroll-down{
    border-color: var(--color-font-white);
}
.theme-dark .scroll-dot{
    border-color: var(--color-font-white);
}

.theme-light{
    background-color: var(--color-bg-white);
    color: var(--color-font-black);
}

.theme-light .links-container{
    color: var(--color-font-black);
}

.theme-light .link-home{
    color: var(--color-font-black);
}

.theme-light svg{
    fill: var(--color-font-black);
}

.theme-light .scroll-down{
    border-color: var(--color-font-black);
}
.theme-light .scroll-dot{
    border-color: var(--color-font-black);
}

.footer{
    font-size: 12px;
    z-index: 2;
    width: 100%;

}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: calc(var(--spacing)*4);
    padding-block: calc(var(--spacing)*12);
}

.footer a{
    color: inherit;
    text-decoration: none;

}

.footer-links{
    margin-left:auto;
    display: flex;
    flex-direction: row;
    gap: calc(var(--spacing)*4);
}

.click-overlay{
    display: inline;
    position: absolute;
    margin-top:100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 11;
    cursor: pointer;
}

.landingpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

video.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
  }

  .fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

nav{
    z-index: 2;
    font-size: 20px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: calc(var(--spacing)*4);
    padding-block: calc(var(--spacing)*6);

}  


    /* Landing Page */

.landingpage-content{
    flex-grow: 1;
    font-size: 20px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: end;
    margin-right: auto;
    justify-content: space-between;
    padding-inline: calc(var(--spacing)*4);
    padding-block: calc(var(--spacing)*10);

}  

.headlines{
    z-index: -2;
    text-align: right;
}


nav .link-home{
    margin-right: auto;
}

nav a{
    text-align: center;

}

nav a:hover{
    font-weight: 700;
}

[aria-current="page"]{
    font-weight: 700;
}

.link-home{
    color: inherit; 
    white-space: nowrap;
}

nav a{
    font-weight: 400;
    text-decoration: none;
    
}

.links-container{
    gap: calc(var(--spacing) * 4);
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.link{
    color: inherit; 
    width: calc(var(--spacing)*16);
    padding-block: calc(var(--spacing)*3);;

}

.contact{
    width: calc(var(--spacing)*18);
    margin-left: calc(var(--spacing)*2);

}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display:none;

}



.scroll-down{
    position: absolute;
    left: 50%;
    top: 90dvh;
    height: 50px;
    width: 25px;
    border-radius: 15px;
    border: solid 2px;
    border-color: white;
    display:inline-flex;
    animation: scrolldot 1.25s
    ease infinite, hide 0.2s ease forwards;
    animation-delay: 0s, 10s;
}


.scroll-dot{
    display: inline-block;
    margin: auto;
    border: solid 1.9px;
    border-color: white;
    border-radius: 20px;
    height: 10px;
    width: 10px;
    animation: scrolldot 1.25s
    ease infinite, hide 0.2s ease forwards;
    animation-delay: 0s, 10s;
}



/* Work Page */
.main{
    margin-top: 4rem;
    z-index: 2;
    max-width: 1200px;
    height: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-inline: calc(var(--spacing)*4);
    padding-block: calc(var(--spacing)*6);
}

.main-landingpage{
    margin-inline: 0;
}


.main-work{
    margin-top: 4rem;
    z-index: 2;
    max-width: 1200px;
    height: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-inline: calc(var(--spacing)*4);
    padding-block: calc(var(--spacing)*6);
}


.filter-links-container{
    padding-right: calc(var(--spacing)*6);
    width: 9em;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0; 
}

.mobile-category-filter{
    display: none;
}

.filter-tab-out {
    display: none;
  }
.mobile-category-filter svg{
    color: var(--color-font-black);
}
    

.category-svg{
    transition: 0.4s;

}

.rotate{
    transform:rotate(180deg);
}

.filter-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#filter-active{
    display: none;
}

.filter-link{
    font-size: calc(var(--spacing)*4);
    white-space: nowrap;
    font-family: "roboto";
    color: var(--color-font-black);
    font-weight: 400;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    padding-block: calc(var(--spacing)*2);
}


.filter-link.active{
    font-weight: 600 !important;
}

.filter-link:hover{
    font-weight: 600 !important;
}

.project-cards{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

}

.card-item {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    transform: scale(1);

  }
  
  .card-item.hide {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
  }
  

.project-cards .card-item{
    font-size: calc(var(--spacing) * 4);
    width: 49%;
    position: relative;
    height: fit-content;
    overflow: hidden;
    cursor:pointer;
    margin-bottom: calc(var(--spacing)*5);
}

.card-item .card-overlay{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.card-overlay .item-short-descript{
    text-decoration: none;
    color: var(--color-font-white);
    display: inline-block;

}

.card-headings{
    padding-top: calc(var(--spacing)*2);
    display: flex;
    justify-content: space-between;
}

.category-date{
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.card-item img{
    background-color: #616161;
    width: 100%;
    height: 56.25%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
    will-change: transform;
}

.card-img-wrapper{
    display: block;
    width: 100%;
    height: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-item:hover img{
    transform: scale(1.15);
}

.card-item:hover .card-overlay{
    opacity: 1;
}


@keyframes scrolldot{
    0%{
        opacity: 0;
        translate: 0 16px;
    }
}

@keyframes hide {
    to {
      opacity: 0;
      visibility: hidden;
    }
}

/* Project Sites */

.mobile-img-switch{
    display: none;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.max1200{
    max-width: 1200px;
    margin-inline:auto;
    padding-inline: calc(var(--spacing)*4);
}

.hero-section{
    z-index: -1;
    position: relative;
    height: calc(calc(100vh - 96px));
    margin-top: -96px;
    display: flex;
    align-items:flex-end;
    overflow: hidden;

}

.hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;

    background-size: cover;
    background-position: bottom;
    z-index: -2;
}

.hero-content{
    position: relative;;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: calc(var(--spacing)*12) ;
}

.problem-section{
    width: 100%;
    height: 100vh;

}

.problem-bg{
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: bottom;
    z-index: -2;
}

.problem-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.problem-heading{
    padding-top: calc(var(--spacing)*25);
    width: 100%;
}

.problem-heading h2{
    font-weight: 400;
    font-size: 32px ;
}

.problem-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: calc(var(--spacing)*25);
}

.problem-text{
    text-align: right;
    max-width: 400px;
}

.problem-text h2{
    font-weight: 400;
    font-size: 24px ;
}

.design-section{
    position: relative;
    width: 100%;
    height: fit-content;
}

.design-heading{
    display: flex;
    justify-content: flex-end;
    padding-top: calc(var(--spacing)*25);
    width: 100%;
    padding-bottom: calc(var(--spacing)*25);
}

.design-heading h2{
    font-weight: 400;
    font-size: 32px ;
}



.design-bg{
    display: block;
    margin-top: calc(var(--spacing)*50);
    width: 50%;
}

.design-bg img{
    width: 100%;
    object-fit: cover;
}


.design-kiev-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.design-content-img1{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.design-content-img1 img{
    width: 100%;
    object-fit: contain;
}

.design-content-icons{
    padding-top: calc(var(--spacing)*50);
    width: 50%;
    display: flex;
    flex-direction: column;
}

.design-content-icons .horizontal{
    max-width: 50%;
    padding-bottom: calc(var(--spacing)*12);
}

.design-content-icons .vertical{
    max-width: 35%;
    padding-bottom: calc(var(--spacing)*12);
}

.design-content-icons h2{
    font-weight: 400;
    font-size: 24px ;
    padding-bottom: calc(var(--spacing)*12);
}


.design-text-wrapper{
    margin-top: calc(var(--spacing)*50);
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: calc(var(--spacing)*25);
}

.design-text-wrapper video{
    max-width: 600px;
    height: 500px;
    object-fit: cover;
}

.design-text h2{
    font-weight: 400;
    font-size: 24px ;
}

.design-text p{
    word-break: break-word;
    max-width: 390px;
}

.design-text{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    text-align: right;

}

.design-text .horizontal{
    max-width: 78%;
    padding-bottom: calc(var(--spacing)*12);
}

.design-content-img2{
    margin-top: calc(var(--spacing)*50);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: calc(var(--spacing)*50);
}

.design-content-img2 img{
    width: 48%;
}

.solution-section1{
    width: 100%;
    height: 100vh;
}

.solution1-bg{
    width: 100%;
    height: 100%;

    background-size:cover;
    background-position: top;
    z-index: -2;
}

.solution-heading{
    display: flex;
    justify-content: flex-end;
    padding-top: calc(var(--spacing)*25);
    width: 100%;
    padding-bottom: calc(var(--spacing)*25);
}

.solution-heading h2{
    font-weight: 400;
    font-size: 32px ;
}

.solution-section2{
    width: 100%;
    height: 100vh;
}

.solution2-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.solution2-bg{
    width: 100%;
    height: 100%;

    background-size:cover;
    background-position: top;
    z-index: -2;
}

.solution-text-wrapper{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: calc(var(--spacing)*25);
}

.solution-text{
    text-align: right;
    max-width: 400px;
}

.solution-text h2{
    font-weight: 400;
    font-size: 24px ;
}


.solution-section3{
    width: 100%;
    height: 100vh;
}

.solution3-bg{
    width: 100%;
    height: 100%;

    background-size:cover;
    background-position: top;
    z-index: -2;
}

.learning-heading{
    display: flex;
    justify-content: flex-start;
    padding-top: calc(var(--spacing)*25);
    width: 100%;
    padding-bottom: calc(var(--spacing)*12);
}

.learning-heading h2{
    font-weight: 400;
    font-size: 32px ;
}



.learning-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: calc(var(--spacing)*25);
}

.learning-card-item{
    width: 30%;
}

.learning-card-item h3{
    padding-bottom: calc(var(--spacing)*4) ;
}

.learning-card-item p{
    width: 90%;
}

.video-heading {
    display: flex;
    justify-content: flex-start;
    padding-top: calc(var(--spacing)*25);
    width: 100%;
    padding-bottom: calc(var(--spacing)*4);
}

.video-heading h2{
    font-weight: 400;
    font-size: 24px;

}

.video{
 position: relative;
 padding-bottom: 56.25%; /* 16:9 */
 height: 0;
 overflow: hidden;
 margin-bottom: calc(var(--spacing)*12);
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.link-content{
    padding-bottom: calc(var(--spacing)*25);
}

.link-heading{
    display: flex;
    justify-content: flex-start;
    padding-top: calc(var(--spacing)*25);
    width: 100%;
    padding-bottom: calc(var(--spacing)*12);
}

.link-heading h2{
    font-weight: 400;
    font-size: 32px ;
}

.link-col{
    width: 100%;
}

.link-item{
    display: flex;
    flex-direction: row;
}

.link-what{
 white-space: nowrap;
 width: 10rem;
 padding-bottom: calc(var(--spacing)*2);
}

.link-where{
padding-bottom: calc(var(--spacing)*2);
}

/* Content Project-Sites */



.kiev-bg {
    background-image: url('../pages/content/img/kiev/hero-section.jpg');
}

.kiev-pb{
    background-image: url('../pages/content/img/kiev/problem-section.png');
}


.kiev-sc1{
    background-image: url('../pages/content/img/kiev/solution-sectionbg1.png');
}

.kiev-sc2{
    background-image: url('../pages/content/img/kiev/solution-sectionbg2.png');
}

.kiev-sc3{
    background-image: url('../pages/content/img/kiev/solution-sectionbg3.png');
}

.kiev-bg-color{
    background-color: #000;
}

/* About */


.about-mobile-img{
    display: none;
}

.img-about-wrapper{

    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;    
}

.img-about-wrapper img{
    display: block;
    max-width: 25em;
    object-fit: cover;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.text-about-wrapper{

    padding-top:  4rem;
}



.text-about h1{
    font-size: 48px;
    font-weight: 400;
}

.text-about h2{

    padding-top: calc(var(--spacing)*6) ;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30%;
}

.strong-about{
    font-weight: 600;
}

.cv-links a{
    color: var(--color-font-black);
    text-decoration: underline;
    padding-right: calc(var(--spacing)*6);
    white-space: nowrap;
}

.experience-education{
    /*background-color: teal;*/
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.experience-heading{
    font-size: 40px;
}

.education-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.education-item{
    margin-block: calc(var(--spacing)*6);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    align-content: space-between;
    flex-wrap:wrap;
}

.education-item-work{
    width: 30%;
    white-space: nowrap;
}



.education-item-time{
    align-self: end;
    white-space: nowrap;
    width: 28%;

}


.education-item-about{
    width: 42%;
}

/* Imprint */
.imprint {
    display:flex;
    flex-direction: column;
    color: var(--color-font-black);
    
}

.imprint h1 {
    color: var(--color-font-black);
    font-size: 36px;
    margin-bottom: 20px;
}

.imprint p {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 10px;
}

.imprint strong {
    font-weight: 600;
    color: var(--color-font-black); 
}

.imprint a {
    color: var(--color-font-black); 
    text-decoration: none;
}

.imprint a:hover {
    text-decoration: underline;
}

.imprint p + p {
    margin-top: 15px;
}

/* Privacy */
.privacy {
    display:flex;
    flex-direction: column;
    color: var(--color-font-black);
    width: 100%;
    box-sizing: border-box;
    
}

.privacy-container {
    display: flex;
    flex-direction: column;
    
}

.title-privacy {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--color-font-black);
}

.section-privacy {
    margin-bottom: 30px;
}

.section-title-privacy {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--color-font-black);
}

.text-privacy {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-font-black);
}

.text-privacy a {
    color: var(--color-font-black);
    text-decoration: underline;
}

ul.text-privacy {
    list-style-type: none;
}

ul.text-privacy li {
    margin-bottom: 10px;
}




@media(max-width:350px){
    h1{
        font-size: large;
    }

    h3{
        font-size: large;
    }
}


@media(max-width:480px){
    h1{
        font-size: calc(var(--spacing)*8) !important;
        margin-bottom: calc(var(--spacing)*4);
    }
    
    h2{
        margin-bottom: calc(var(--spacing)*2) !important;
    }
    
    h3{
        font-size: calc(var(--spacing)*5);
    }


    /* Landing Page */
    .click-overlay{
        z-index: 8;
    }

    .theme-dark .links-container{
        background-color: var(--color-bg-black);
        color: var(--color-font-white);
    }

    .theme-light .links-container{
        background-color: var(--color-bg-white);
        color: var(--color-font-black);
    }

    .landingpage-content{
        height: 60vh;
    }

    .links-container{
        flex-direction: column;
        align-items: flex-start;

        gap: calc(var(--spacing) * 4);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        box-shadow: -5px 0 5px rgba(0,0,0, 0.25);
        transition: 0.5s ease-out;
    }

    .links-container .link{
        box-sizing: border-box;
        height: auto;
   
        text-align: left;
        width: 100%;
        padding: 20px 30px
    }

    .contact{
        width: calc(var(--spacing)*16);
        margin-left: 0;
    }

    .open-sidebar-button, .close-sidebar-button{
        display:block;
    }

    .close-sidebar-button{
        padding-top: 20px;
        padding-left: 20px;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }


    .landingpage-content{
        flex-direction: column-reverse;
        align-items: start;
    }
    .headlines{
        margin-left: auto;
        margin-top: 40vh;
    }

    .container{
        padding-bottom: 4rem;
    }
    /* Work Page */



    .bg-mobile-white{
        background-color: var(--color-bg-white);
    }



    /* Project Page */

    .problem-heading{

        padding-top: calc(var(--spacing)*12);
        width: 100%;
    }
    
    .problem-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: calc(var(--spacing)*12);
    }

    .problem-text{
        text-align: left;
        max-width: 100%;
    }



    /* About Page */

    .about-mobile-img{
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: calc(var(--spacing)*10);
    }

    .text-about-wrapper h2{
        font-size: 20px !important;
    }

    .experience-education{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .cv-links {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing)*4);
    }
}

@media(max-width:700px){
    /* Landing Page */
    .scroll-down{
        display: none;
    } 

    /* Work Page */
    .project-cards{
        display: flex;
        flex-direction: column;
    
    }
    
    .project-cards .card-item{
        width: 100%;
        font-size: calc(var(--spacing) * 4);
        margin-bottom: calc(var(--spacing)*5);
    }
    /* Imprint Page */
    .imprint h1{
       font-size: 28px; 
    }

    .imprint p{
        font-size: 14px; 
     }
 


    /* Privacy Page */

    .title-privacy {
        font-size: 28px;
    }

    .section-title-privacy {
        font-size: 20px;
    }

    .text-privacy {
        font-size: 14px;
    }
}


@media(max-width:979px){



    /* Kiev */



    .mobile-bg-none{
        background-image: none;
    }

    .mobile-img-switch{
        background-color: red;
        display: block;
        width: 100%;
        height: 100%;
        max-height: 800px !important;
        margin-bottom: calc(var(--spacing)*6);
        background-position: center;
        background-size: cover;
        width: 100%;


    }

    .kiev-pb-mobile{
        background-image: url('../pages/content/img/kiev/problem-section.png');

    }

    .kiev-sc1-mobile{
        background-image: url('../pages/content/img/kiev/solution-sectionbg1.png');
    }


    .design-content-icons{
        max-width: 500px;
    }



    .design-kiev-wrapper{
        margin-top: calc(var(--spacing)*0); ;
        display:block
    }

    .design-bg{
        display: none;
    }

    .design-content-img1{
        width: 100%;
    
    }

    .design-content-img2{
        width: 100%;
        flex-direction: column;
    
    }

    .design-content-img2 img{
        width: 100%;
    }

    /* About Page*/

    .mobile-col-979{
        flex-direction: column;
    }

    .about-mobile-img{
        display: block;
        max-width: 250px;
        max-height: 250px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: calc(var(--spacing)*10);
    }
    
    .img-about-wrapper{
        display: none;
    }
    .text-about-wrapper h2{
    padding-bottom: 10%;
    }
}

@media(max-width:1050px){

    h1{
        font-size: calc(var(--spacing)*10);
        margin-bottom: calc(var(--spacing)*4);
    }
    
    h2{
        margin-bottom: calc(var(--spacing)*4);
    }
    
    h3{
        font-size: calc(var(--spacing)*5);
    }

    .filter-links {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease;
      }

    /* Kiev */
    .design-text-wrapper video{
        max-width: 80%;
        height: 60%;
        object-fit: cover;
        padding-bottom: calc(var(--spacing)*25) ;
    }
    .design-text-wrapper{
        margin-top: calc(var(--spacing)*50);
     
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-bottom: calc(var(--spacing)*25);
    }

    .design-text{
        max-width: 500px;
        align-items: flex-start;
        text-align: left;
    }

    .design-content-icons{
        width: 100%;
    }



    /* Work Page */
    .main-work{
        margin-top: 0;
        flex-direction: column;
    }
    .project-cards{
        margin-left: 0;

    }

    .filter-links-container{
        width: 100%;
        padding-right: 0;
        margin-bottom: 16px;
    }

    .filter-links{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.3s ease;
        opacity: 0;
    }


    .mobile-category-filter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
    }

    .filter-tab-out{
        z-index: 7;
        position: absolute;
        top: 24rem;
        left: 0;
        width: 100%;
        height: 100%;
    }

     /* About Page */

     .education-item-work p{
        padding-bottom: calc(var(--spacing)*1) ;
    }

    .education-item-work h3{
        padding-bottom: calc(var(--spacing)*1) ;
    }

    .education-item-time{
        color:var(--color-font-grey);
        padding-bottom: calc(var(--spacing)*4) ;
    }


    .education-item-work{
        width: 100%;
    }

    .education-item-time{
        width: 100%;
    }

    .education-item-about{
        align-self: self-start;
        width: 100%;
    }



     .education-item{
        flex-direction: column;
     }
}

@media(max-width:1200px){
    
}
/*
.project-cards{
    display: flex;
    flex-direction: column;

}

.project-cards .card-item{
    width: 100%;
    font-size: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing)*5);
}
